/* editor-style.css */
body .editor-styles-wrapper {
    font-family: 'Roboto', sans-serif;
    color: var(--text-base);
    background-color: #ffffff;
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto Black';
    src: url('fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Source Regular';
    src: url('fonts/Roboto-Regular.ttf ') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
/* Estilos para el editor */
h1 {
    color: var(--text-heading);
}

h2, h3, h4, h5, h6 {
    color: var(--text-subheading);
}

a {
    color: var(--color-link);
}

a:hover {
    color: var(--color-link-hover);
}

button, .button {
    background-color: var(--color-link);
    color: var(--color-white);
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
}

button:hover, .button:hover {
    background-color: var(--color-link-hover);
}

blockquote {
    border-left: 5px solid var(--accent-primary);
    padding-left: 20px;
    font-style: italic;
}

/* Otros estilos que reflejan el diseño del tema */

